/**
 * Fonts
 * ----------------------------------------------------------------------------
 */
/**
 * Links
 * ----------------------------------------------------------------------------
 */
a {
  text-decoration: none;
  -webkit-transition-property: color, background-color, opacity;
          transition-property: color, background-color, opacity;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: #343435; }
  a:link, a:visited, a:active, a.hover, a:focus {
    color: #343435;
    outline: 0 none;
    border: 0 none; }

/**
 * Form inputs
 * ----------------------------------------------------------------------------
 */
.icon {
  background-image: url('../images/sprite.png'); }

/**
 * Header
 * ----------------------------------------------------------------------------
 */
/**
 * Content
 * ----------------------------------------------------------------------------
 */
/**
 * Footer
 * ----------------------------------------------------------------------------
 */
/**
 * for IE only
 * ----------------------------------------------------------------------------
 */